{% extends 'main/layout.html'%}
{% load static %}

{% block content %}
<a style = "font-size:52px; text-decoration: none; top: 200px; left: 25px; position: absolute" href = "car">Назад</a> 
<img src="{% static "main/img/carbody.png" %}" style="width: 900px; height: 576px; left: 320px; top: 174px; position: relative"/>
<div style = "position: absolute; top: 800px; left: 15px; font-family: Times New Roman; font-size: 24px">
    <p>Кузов автомобиля – это внешняя оболочка, которая придает ему форму и защищает от воздействия окружающей среды. Он определяет функциональность, комфорт и безопасность авто.  К кузову крепятся все основные агрегаты и механизмы автомобиля. В нём находится салон автомобиля, в котором имеются сиденья для пассажиров и водителя. Существует множество типов кузовов автомобилей (универсал, седан, лифтбек и т.д.). Они различаются по конструкции, размерам, вместимости, стилю и назначению.</p>
</div>
    {% endblock %}