{% extends 'main/layout.html'%}
{% load static %}

{% block content %}

    <img style="width: 700px; height: 664px; left: 720px; top: 174px; position: absolute" src="{% static "main/img/main_img.png" %}" />
    
    <div style="width: 304px; height: 100px; left: 556px; top: 717px; position: absolute">
        <a href="{% url 'login' %}" class="button">Войти</a>
    </div>
    <div style="width: 304px; height: 100px; left: 12px; top: 717px; position: absolute">
        <a href="{% url 'register' %}" class="button">Регистрация</a>
    </div>
    
    <div style="width: 678px; left: 68px; top: 154px; position: absolute"><span style="color: black; font-size: 64px; font-family: Alegreya; font-weight: 400; word-wrap: break-word">Добро пожаловать<br/><br/></span><span style="color: black; font-size: 48px; font-family: Alegreya; font-weight: 400; word-wrap: break-word">Это сайт про транспорт, где можно узнать много нового про  и пройти увлекательные викторины. <br/><br/><br/><br/><br/></span></div>
    
 
{% endblock %}
