{% extends 'main/layout.html'%}
{% load static %}

{% block content %}
<img src="{% static "main/img/tu.png" %}" style="width: 1440px; height: 447px; left: 100px; top: 174px; position: relative"/>
<a style = "font-size:52px; text-decoration: none; top: 200px; left: 25px; position: absolute" href = "vehicles">Назад</a> 
<a style = "font-size: 32px;text-decoration: none; top: 180px; left: 540px; position: absolute" href = "fuselage">Фюзеляж</a> 
<a style = "font-size: 32px;text-decoration: none; top: 605px; left: 340px; position: absolute" href = "turbine">Силовая установка</a> 
<a style = "font-size: 32px;text-decoration: none; top: 265px; left: 1450px; position: absolute" href = "tail">Хвост</a> 
<a style = "font-size: 32px;text-decoration: none; top: 610px; left: 900px; position: absolute" href = "landinggear">Шасси</a> 
<a style = "font-size: 32px;text-decoration: none; top: 185px; left: 860px; position: absolute" href = "wing">Крыло</a> 
<div style = "position: absolute; top: 900px; font-family: Times New Roman; font-size: 24px">
    <p>Самолёты навсегда изменили представление человека о скорости и расстоянии, позволив ему покорить небо. Их история началась в 1903 году, когда братья Райт совершили первый успешный полёт на аппарате тяжелее воздуха. С этого момента авиация стала стремительно развиваться, открывая новые возможности для пассажирских перевозок.    </p>
    <p>В России развитие авиации началось в начале XX века. Одной из первых значимых вех стал самолёт “Илья Муромец”, созданный инженером Игорем Сикорским в 1913 году. Это был первый в мире многомоторный бомбардировщик, который позже стал использоваться и для пассажирских перевозок. После Великой Отечественной войны российская авиационная промышленность начала активно развивать гражданские самолёты, такие как Ил-18, Ту-134 и Як-42, которые стали знаковыми для своей эпохи.</p>
    <p>Одной из современных моделей, олицетворяющих российское авиастроение, является Ту-204. Этот среднемагистральный пассажирский самолёт отличается высокой надёжностью и экономичностью. Ту-204 стал достойным представителем отечественной авиации, предлагая комфорт и современные технологии для пассажиров.</p>
</div>
{% endblock %}