{% extends 'main/layout.html'%}
{% load static %}

{% block content %}
<a style = "font-size:52px; text-decoration: none; top: 200px; left: 25px; position: absolute" href = "vehicles">Назад</a> 
<img src="{% static "main/img/lastochka.png" %}" style="width: 1200px; height: 668px; left: 320px; top: 144px; position: relative"/>
<a style = "font-size: 32px;text-decoration: none; top: 540px; left: 290px; position: absolute" href = "trainbody">Кузов</a> 
<a style = "font-size: 32px;text-decoration: none; top: 740px; left: 940px; position: absolute" href = "electrobox">Подвагонное оборудование</a> 
<a style = "font-size: 32px;text-decoration: none; top: 220px; left: 840px; position: absolute" href = "roof">Крышевое оборудование</a> 
<div style = "position: absolute; top: 900px; left: 15px; font-family: Times New Roman; font-size: 24px">
    <p>Поезда стали важным изобретением, которое значительно изменило транспортную систему. Первые поезда появились в начале XIX века, когда паровые локомотивы стали первыми двигателями железнодорожного транспорта. Первый железнодорожный маршрут открылся в Англии в 1825 году.</p>
    <p>В России железные дороги начали развиваться в 1837 году с открытия первой линии между Санкт-Петербургом и Царским Селом. Впоследствии железнодорожная сеть стремительно росла, связав самые удалённые регионы страны. С появлением электричества в конце XIX века начали разрабатываться электропоезда, которые оказались более быстрыми, экологичными и экономичными.</p>
    <p>В советский период были созданы знаковые электропоезда: ЭР1 и ЭР2, которые стали основой пригородного железнодорожного сообщения. В XXI веке Россия продолжила модернизацию железнодорожного транспорта, внедряя современные технологии и высокоскоростные поезда.</p>
    <p>Одним из ярких примеров современных российских электропоездов является “Ласточка”. “Ласточка” отличается высокой скоростью, комфортом и энергоэффективностью, что делает её идеальным выбором для пригородных и межрегиональных маршрутов. Сегодня она активно используется на многих направлениях, включая популярные маршруты Московского и Санкт-Петербургского регионов.
</div>
{% endblock %}