{% extends 'main/layout.html'%}
{% load static %}

{% block content %}

    <div style="width: 637px; height: 99px; left: 83px; top: 175px; position: absolute; color: black; font-size: 84px; font-family: Calibry; font-weight: 700; word-wrap: break-word">Транспорт</div>
    <div style="width: 1403px; height: 491px; left: 18px; top: 305px; position: absolute">
        <div style="width: 530px; height: 540px; left: 871px; top: 3px; position: absolute; background: #40CBBB; border: 1px black solid"></div>
        <img style="width: 871px; height: 540px; left: 0px; top: 3px; position: absolute" src="{% static "main/img/car.png" %}" />
        <div style="width: 527px; height: 280px; left: 876px; top: 124px; position: absolute; color: black; font-size: 48px; font-family: Calibry; font-weight: 400; word-wrap: break-word">Автомобиль - самый распространённый вид транспорта, ставший одним из важнеших изобретений человечества.</div>
        <div style="width: 530px; height: 107px; left: 871px; top: 3px; position: absolute; background: white; border: 1px black solid"></div>
        <div style="width: 527px; height: 93px; left: 876px; top: 7px; position: absolute; color: black; font-size: 84px; font-family: Calibry; font-weight: 700; word-wrap: break-word"><a style= "text-decoration: none" href="car">Автомобиль</a></div>
    </div>
    <div style="width: 1403px; height: 491px; left: 18px; top: 955px; position: absolute">
        <div style="width: 530px; height: 540px; left: 871px; top: 3px; position: absolute; background: #40CBBB; border: 1px black solid"></div>
        <img style="width: 871px; height: 540px; left: 0px; top: 3px; position: absolute" src="{% static "main/img/plane.png" %}" />
        <div style="width: 527px; height: 280px; left: 876px; top: 124px; position: absolute; color: black; font-size: 48px; font-family: Calibry; font-weight: 400; word-wrap: break-word">Самолёты незаменимы, так как являются самым быстрым доступным видом транспорта.</div>
        <div style="width: 530px; height: 107px; left: 871px; top: 3px; position: absolute; background: white; border: 1px black solid"></div>
        <div style="width: 527px; height: 93px; left: 876px; top: 7px; position: absolute; color: black; font-size: 84px; font-family: Calibry; font-weight: 700; word-wrap: break-word"><a style= "text-decoration: none" href="plane">Самолёт</a></div>
    </div>
    <div style="width: 1403px; height: 491px; left: 18px; top: 1610px; position: absolute">
        <div style="width: 530px; height: 620px; left: 871px; top: 3px; position: absolute; background: #40CBBB;  border: 1px black solid"></div>
        <img style="width: 871px; height: 620px; left: 0px; top: 3px; position: absolute" src="{% static "main/img/train.png" %}" />
        <div style="width: 527px; height: 280px; left: 876px; top: 124px; position: absolute; color: black; font-size: 48px; font-family: Calibry; font-weight: 400; word-wrap: break-word">Поезд - первый вид транспорта, работающий на двигателе, и теперь поезда выполняют важную роль, соединяя дальнейшие уголки России.</div>
        <div style="width: 530px; height: 107px; left: 871px; top: 3px; position: absolute; background: white; border: 1px black solid"></div>
        <div style="width: 527px; height: 93px; left: 876px; top: 7px; position: absolute; color: black; font-size: 84px; font-family: Calibry; font-weight: 700; word-wrap: break-word"><a style= "text-decoration: none" href="train">Электропоезд</a></div>
    </div>
    
{% endblock %}



    