{% extends 'main/layout.html'%}
{% load static %}

{% block content %}
<a style = "font-size:52px; text-decoration: none; top: 200px; left: 25px; position: absolute" href = "plane">Назад</a> 
<img src="{% static "main/img/landinggear.png" %}" style="width: 313px; height: 400px; left: 420px; top: 210px; position: relative"/>
<div style = "position: absolute; top: 800px; left: 15px; font-family: Times New Roman; font-size: 24px">
    <p>Шасси самолёта - это его система опор, предназначенная для стоянки на земле, передвижение по аэродрому, взлёт и посадку. Обычно оно представляет собой несколько "ног", оборудованными колёсами  Во время полёта шасси убирается для уменьшения сопротивления воздуха и увеличения скорости.</p>
</div>
{% endblock %}