<!DOCTYPE html>
<html lang = "ru">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, intial-scale=1.0">
    <meta http-equiv = "X-UA-Compatible" content = "IE-edge">
    <title> История изобретений </title>
</head>
<body>
    <div style="width: 100%; height: 100%; position: relative; background: white">
        <img style="width: 700px; height: 664px; left: 720px; top: 174px; position: absolute" src="https://via.placeholder.com/700x664" />
        <div style="width: 1440px; height: 144px; left: 0px; top: 0px; position: absolute">
            <div style="width: 1440px; height: 144px; left: 0px; top: 0px; position: absolute; background: #40CBBB"></div>
            <div style="width: 256px; height: 75px; left: 36px; top: 21px; position: absolute; color: white; font-size: 64px; font-family: Michroma; font-weight: 400; word-wrap: break-word">logo</div>
            <div style="width: 633px; height: 116px; left: 761px; top: 14px; position: absolute">
                <div style="width: 394px; height: 82px; left: 185px; top: 14px; position: absolute; color: white; font-size: 48px; font-family: Comic Sans MS; font-weight: 400; word-wrap: break-word">leaderboard</div>
                <img style="width: 109px; height: 116px; left: 524px; top: 0px; position: absolute" src="https://via.placeholder.com/109x116" />
                <div style="width: 185px; height: 89px; left: 0px; top: 14px; position: absolute; color: white; font-size: 48px; font-family: Comic Sans MS; font-weight: 400; word-wrap: break-word">login</div>
            </div>
        </div>
        <div style="width: 304px; height: 100px; left: 426px; top: 717px; position: absolute">
            <div style="width: 304px; height: 100px; left: 0px; top: 0px; position: absolute; background: #40CBBB; border-radius: 30px"></div>
            <div style="left: 86px; top: 23px; position: absolute; text-align: center; color: white; font-size: 48px; font-family: Alegreya; font-weight: 400; word-wrap: break-word">Войти</div>
        </div>
        <div style="width: 304px; height: 100px; left: 12px; top: 717px; position: absolute">
            <div style="width: 304px; height: 100px; left: 0px; top: 0px; position: absolute; background: #40CBBB; border-radius: 30px"></div>
            <div style="width: 222px; height: 60px; left: 80px; top: 23px; position: absolute; color: white; font-size: 48px; font-family: Alegreya; font-weight: 400; word-wrap: break-word">Начать</div>
        </div>
        <div style="width: 1440px; height: 144px; left: 0px; top: 888px; position: absolute; background: #40CBBB"></div>
        <div style="width: 678px; left: 68px; top: 154px; position: absolute"><span style="color: black; font-size: 64px; font-family: Alegreya; font-weight: 400; word-wrap: break-word">Добро пожаловать<br/><br/></span><span style="color: black; font-size: 48px; font-family: Alegreya; font-weight: 400; word-wrap: break-word">Это сайт с викторинами на тему <br/>изобретений...<br/><br/><br/><br/></span></div>
    </div>
</body>
</html>