<!DOCTYPE html>
<html lang = "ru">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, intial-scale=1.0">
    <meta http-equiv = "X-UA-Compatible" content = "IE-edge">
    <title> История изобретений </title>
</head>
<body>
    <div style="width: 100%; height: 100%; position: relative; background: white">
        <div style="width: 1440px; height: 144px; left: 0px; top: 2px; position: absolute">
            <div style="width: 1440px; height: 144px; left: 0px; top: 0px; position: absolute; background: #40CBBB"></div>
            <div style="width: 256px; height: 75px; left: 36px; top: 21px; position: absolute; color: white; font-size: 64px; font-family: Michroma; font-weight: 400; word-wrap: break-word">logo</div>
            <div style="width: 633px; height: 116px; left: 761px; top: 14px; position: absolute">
                <div style="width: 394px; height: 82px; left: 185px; top: 14px; position: absolute; color: white; font-size: 48px; font-family: Comic Sans MS; font-weight: 400; word-wrap: break-word">leaderboard</div>
                <img style="width: 109px; height: 116px; left: 524px; top: 0px; position: absolute" src="https://via.placeholder.com/109x116" />
                <div style="width: 185px; height: 89px; left: 0px; top: 14px; position: absolute; color: white; font-size: 48px; font-family: Comic Sans MS; font-weight: 400; word-wrap: break-word">login</div>
            </div>
        </div>
        <div style="width: 1440px; height: 144px; left: 0px; top: 1024px; position: absolute; background: #40CBBB"></div>
        <div style="width: 1281px; height: 765px; left: 80px; top: 218px; position: absolute">
            <img style="width: 939px; height: 352px; left: 178px; top: 84px; position: absolute" src="https://via.placeholder.com/939x352" />
            <div style="width: 1081px; height: 125px; left: 88px; top: 0px; position: absolute; color: black; font-size: 64px; font-family: Anonymous Pro; font-weight: 700; word-wrap: break-word">Вопрос</div>
            <div style="width: 600px; height: 112px; left: 0px; top: 518px; position: absolute">
                <div style="width: 600px; height: 112px; left: 0px; top: 0px; position: absolute; background: #40CBBB; border-radius: 25px"></div>
                <div style="width: 457px; height: 69px; left: 42px; top: 29px; position: absolute; color: black; font-size: 48px; font-family: Anonymous Pro; font-weight: 400; word-wrap: break-word">A) Вариант 1</div>
            </div>
            <div style="width: 600px; height: 112px; left: 681px; top: 653px; position: absolute">
                <div style="width: 600px; height: 112px; left: 0px; top: 0px; position: absolute; background: #40CBBB; border-radius: 25px"></div>
                <div style="width: 457px; height: 69px; left: 42px; top: 30px; position: absolute; color: black; font-size: 48px; font-family: Anonymous Pro; font-weight: 400; word-wrap: break-word">D) Вариант 4</div>
            </div>
            <div style="width: 600px; height: 112px; left: 0px; top: 653px; position: absolute">
                <div style="width: 600px; height: 112px; left: 0px; top: 0px; position: absolute; background: #40CBBB; border-radius: 25px"></div>
                <div style="width: 457px; height: 69px; left: 42px; top: 30px; position: absolute; color: black; font-size: 48px; font-family: Anonymous Pro; font-weight: 400; word-wrap: break-word">C) Вариант 3</div>
            </div>
            <div style="width: 600px; height: 112px; left: 681px; top: 518px; position: absolute">
                <div style="width: 600px; height: 112px; left: 0px; top: 0px; position: absolute; background: #40CBBB; border-radius: 25px"></div>
                <div style="width: 346px; height: 81px; left: 42px; top: 29px; position: absolute; color: black; font-size: 48px; font-family: Anonymous Pro; font-weight: 400; word-wrap: break-word">B) Вариант 2</div>
            </div>
        </div>
    </div>
</body>
</html>