{% extends 'main/layout.html'%}
{% load static %}

{% block content %}

    <div style="width: 1440px; height: 144px; left: 0px; top: 1024px; position: absolute; background: #40CBBB"></div>
    <div style="width: 1281px; height: 765px; left: 80px; top: 218px; position: absolute">
        <img style="width: 939px; height: 352px; left: 178px; top: 84px; position: absolute" src="https://via.placeholder.com/939x352" />
        <div style="width: 1081px; height: 125px; left: 88px; top: 0px; position: absolute; color: black; font-size: 64px; font-family: Anonymous Pro; font-weight: 700; word-wrap: break-word">Вопрос</div>
        <div style="width: 600px; height: 112px; left: 0px; top: 518px; position: absolute">
            <form method = post>
                <button type="submit" formmethod = "get" formaction="test.html">A) Вариант 1</button>
            </form>
        </div>
        <div style="width: 600px; height: 112px; left: 681px; top: 653px; position: absolute">
            <form method = post>
                <button type="submit" formmethod = "get" formaction="test.html">D) Вариант 4</button>
            </form>
        </div>
        <div style="width: 600px; height: 112px; left: 0px; top: 653px; position: absolute">
            <form method = post>
                <button type="submit" formmethod = "get" formaction="test.html">C) Вариант 3</button>
            </form>
        </div>
        <div style="width: 600px; height: 112px; left: 681px; top: 518px; position: absolute">
            <form method = post>
                <button type="submit" formmethod = "get" formaction="test.html">B) Вариант 2</button>
            </form>
        </div>
    </div>

{% endblock %}


    