{% extends 'main/layout.html'%}
{% load static %}

{% block content %}
<a style = "font-size:52px; text-decoration: none; top: 200px; left: 25px; position: absolute" href = "train">Назад</a> 
<img src="{% static "main/img/trainbody.png" %}" style="width: 800px; height: 482px; left: 320px; top: 174px; position: relative"/>
<div style = "position: absolute; top: 700px; left: 15px; font-family: Times New Roman; font-size: 24px">
    <p>Кузов вагона электропоезда — цельнометаллический, представляет собой несущую конструкцию. Он состоит из продольных и поперечных элементов, перекрытых тонкими металлическими листами. Все элементы кузова сварены в единую конструкцию (пол вагона, боковины, крыша, торцовые части) и одновременно воспринимают нагрузки, которые возникают при движении вагона. Основным элементом кузова является рама. Она воспринимает всю вертикальную нагрузку, а также продольные нагрузки от сил тяги и торможения.</p>
</div>
{% endblock %}